@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
}

:root {
  --background: #0a0a0f;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-pixel-square), monospace;
  overflow: hidden;
  cursor: crosshair;
}

::selection {
  background: #228B22;
  color: #fff;
}
